{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot4()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<script type="text/javascript" src="{$CssDir/}js/server.js"></script>
<style>
.navbar-default .navbar-nav>#Menu{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}>a, .navbar-default .navbar-nav>#Menu{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}>a:hover, .navbar-default .navbar-nav>#Menu{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}>a:focus { color: #555; background-color: #e7e7e7 }
</style> 
</head> 
<body id="header">
{ZL.Label id=全站头部"/} 
<div class="bs-header parent_banner">
<div class="container">
<h1><i class="zi zi_book"></i> {SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}</h1>
<p>{SField sid="节点栏目信息数据源" FD="Tips" page="0"/}</p>
</div>
<div class="mask_bg"></div>
</div>

<div class="news_body mingshi_wrap">
<div class="container">
<div class="row">
<div class="col-md-8 ">
<ul class="row">
<li class="col-md-3">
<div class="image_box">
<img src="{$CssDir/}Images/teacher03.jpg" alt="">
<div class="text">
<span>李老师</span>
<p>名师帮您用更短的时间，走更远的路...名师帮您用更短的时间，走更远的路...名师帮您用更短的时间，走更远的路...</p>
</div>

</div>
</li>
</ul>


</div>
<div class="col-lg-4 col-md-4 ">
<div class="news_list">
<div class="news_list_t"><h2>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}</h2><div class="clearfix"></div></div>
<div class="news_list_l">
<ul class="list-unstyled">
{ZL.Label id="节点列表" ParentID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}"  ShowNum="10" /}
<div class="clearfix"></div>
</ul>
</div>
</div><!--栏目列表-->
</div>

</div>
</div>
</div>

{ZL.Label id="全站底部"/}
</body>
</html>
<script>
//头部滚动
$(window).scroll(function(){
	if($(window).scrollTop()>0){
		$(".home_navbar").addClass("bg_white")
	}
	else{
		$(".home_navbar").removeClass("bg_white");
	}
});
//搜索框
function isSearch(){
if($(".home_navbar .navbar-nav .search_form").is(":hidden")){
	$(".home_navbar .navbar-nav li").hide();
	$(".home_navbar .navbar-nav .search_form").show();
	$(".home_navbar div.navbar-nav li:last-child").show();
	$(".home_navbar div.navbar-nav li:last-child i").removeClass("zi_search").addClass("zi_times");
}else{
	$(".home_navbar .navbar-nav li").show();
	$(".home_navbar .navbar-nav .search_form").hide();
	$(".home_navbar div.navbar-nav li:last-child").show();
	$(".home_navbar div.navbar-nav li:last-child i").removeClass("zi_times").addClass("zi_search");
	}
}
</script>