<?xml version="1.0"?>
<SMS>
  <Tlp_Reg>178791</Tlp_Reg>
  <Tlp_GetBack>178791</Tlp_GetBack>
  <Tlp_ChangeMobile>178791</Tlp_ChangeMobile>
  <QCloud_APPID>1400131485</QCloud_APPID>
  <QCloud_APPKey>b09564e21def15270412971b34423e0e</QCloud_APPKey>
  <QCloud_Sign>家长56</QCloud_Sign>
  <Aliyun_VCodeTlp>0</Aliyun_VCodeTlp>
  <MssUser />
  <MssPsw />
  <G_uid />
  <G_eid />
  <G_pwd />
  <G_gate_id />
  <sms_key />
  <sms_pwd />
  <DefaultSMS>qcloud</DefaultSMS>
</SMS>