<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/images/win8_symbol_140x140.png"/>
<title>名师筛选</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot4()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
{ZL:GetCSS(1,0)/}
</head>
<body class="aress_body">
<div class="addcontent_top"><a href="javascript:history.back(-1)"><i class="zi zi_arrowLeft"></i></a> <small id="add_title">地区筛选</small></div>

<section class="container aress_hotcity">
<span id="jump-hot">国内热门城市</span>
<ul class="row">
<li class="col-4"><a href="{ZL:GetLastinfo(34)/}?Area=上海">上海</a></li>
<li class="col-4"><a href="{ZL:GetLastinfo(34)/}?Area=北京">北京</a></li>
<li class="col-4"><a href="{ZL:GetLastinfo(34)/}?Area=杭州">杭州</a></li>
<li class="col-4"><a href="{ZL:GetLastinfo(34)/}?Area=广州">广州</a></li>
<li class="col-4"><a href="{ZL:GetLastinfo(34)/}?Area=成都">成都</a></li>
<li class="col-4"><a href="{ZL:GetLastinfo(34)/}?Area=苏州">苏州</a></li>
<li class="col-4"><a href="{ZL:GetLastinfo(34)/}?Area=深圳">深圳</a></li>
<li class="col-4"><a href="{ZL:GetLastinfo(34)/}?Area=南京">南京</a></li>
<li class="col-4"><a href="{ZL:GetLastinfo(34)/}?Area=天津">天津</a></li>
<li class="col-4"><a href="{ZL:GetLastinfo(34)/}?Area=重庆">重庆</a></li>
<li class="col-4"><a href="{ZL:GetLastinfo(34)/}?Area=厦门">厦门</a></li>
<li class="col-4"><a href="{ZL:GetLastinfo(34)/}?Area=武汉">武汉</a></li>
</ul>
</section>
<!--hotcity end-->

<div class="aress_list_r">
<ul>
<li><a href="#jump-hot">热门</a></li>
<li><a href="#jump-A">A</a></li>
<li><a href="#jump-B">B</a></li>
<li><a href="#jump-C">C</a></li>
<li><a href="#jump-D">D</a></li>
<li><a href="#jump-E">E</a></li>
<li><a href="#jump-F">F</a></li>
<li><a href="#jump-G">G</a></li>
<li><a href="#jump-H">H</a></li>
<li><a href="#jump-I">I</a></li>
<li><a href="#jump-J">J</a></li>
<li><a href="#jump-K">K</a></li>
<li><a href="#jump-L">L</a></li>
<li><a href="#jump-M">M</a></li>
<li><a href="#jump-N">N</a></li>
<li><a href="#jump-O">O</a></li>
<li><a href="#jump-P">P</a></li>
<li><a href="#jump-Q">Q</a></li>
<li><a href="#jump-R">R</a></li>
<li><a href="#jump-S">S</a></li>
<li><a href="#jump-T">T</a></li>
<li><a href="#jump-U">U</a></li>
<li><a href="#jump-V">V</a></li>
<li><a href="#jump-W">W</a></li>
<li><a href="#jump-S">S</a></li>
<li><a href="#jump-Y">Y</a></li>
<li><a href="#jump-Z">Z</a></li>
</ul>
</div>

<section class="container aress_list">
<ul><li id="jump-A">A</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="A" ShowNum="20" /}</ul>
<ul><li id="jump-C">B</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="B" ShowNum="20" /}</ul>
<ul><li id="jump-C">C</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="C" ShowNum="20" /}</ul>
<ul><li id="jump-D">D</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="D" ShowNum="20" /}</ul>{Split/}
<ul><li id="jump-E">E</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="E" ShowNum="20" /}</ul>
<ul><li id="jump-F">F</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="F" ShowNum="20" /}</ul>{Split/}
<ul><li id="jump-G">G</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="G" ShowNum="20" /}</ul>
<ul><li id="jump-H">H</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="H" ShowNum="20" /}</ul>
<ul><li id="jump-I">I</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="I" ShowNum="20" /}</ul>
<ul><li id="jump-J">J</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="J" ShowNum="20" /}</ul>{Split/}
<ul><li id="jump-K">K</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="K" ShowNum="20" /}</ul>
<ul><li id="jump-L">L</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="L" ShowNum="20" /}</ul>
<ul><li id="jump-M">M</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="M" ShowNum="20" /}</ul>{Split/}
<ul><li id="jump-N">N</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="N" ShowNum="20" /}</ul>
<ul><li id="jump-O">O</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="O" ShowNum="20" /}</ul>
<ul><li id="jump-P">P</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="P" ShowNum="20" /}</ul>{Split/}
<ul><li id="jump-Q">Q</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="Q" ShowNum="20" /}</ul>
<ul><li id="jump-R">R</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="R" ShowNum="20" /}</ul>
<ul><li id="jump-S">S</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="S" ShowNum="20" /}</ul>
<ul><li id="jump-T">T</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="T" ShowNum="20" /}</ul>{Split/}
<ul><li id="jump-W">W</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="W" ShowNum="20" /}</ul>
<ul><li id="jump-X">X</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="X" ShowNum="20" /}</ul>{Split/}
<ul><li id="jump-Y">Y</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="Y" ShowNum="20" /}</ul>
<ul><li id="jump-Z">Z</li>{ZL.Label id="按照首字母输出所有地区" Cate="1" Zm="Z" ShowNum="20" /}</ul>
</section>
<!--aress_list end-->


</body>
<script>
$(function(){
$(".menu2").addClass("active");
})
</script>
</html>