//CSS预编译文件基于Sass语法
//这是Zoomla!逐浪CMS团队优化的Sass模板，我们为你预置了逐浪字库官方团队的高品质webFont之CDN库，你可完全采用中文定义写作，如下面写法都是合格
//$中国变量之一:12px;
//$中国人民中华人民共和国变量之二:#ff0;
//.a1{width:$中国变量之一 ;}
//.a2{background: $中国人民中华人民共和国变量之二;}
//建议CSS注释写在代码段的起始处以使阅读更加流畅

/* 全局样式定义 Powered by Zoomla!逐浪CMS z01.com*/
@charset "utf-8";
@import "zoomlaCMS";
//@import url("//code.z01.com/Zfont.css");
//@import url("/dist/css/ZLico.css");

a:hover{text-decoration: none; color: currentColor;}
.margintop10 {margin-top: 10px;}
.relative { position:relative;}
.padding15 { padding-left:15px; padding-right:15px;}
.padding10{ padding-left:10px; padding-right:10px;}
.padding5{ padding-left:5px; padding-right:5px;}
.div_h35 { height:35px;}
.loginNone{display:none;}
.margin_top20 { margin-top:20px;}
.margin_bottom20 { margin-bottom:20px;}
.padding0_lg { padding-left:0; padding-right:0;}
.list-group-item {padding:.5rem 1.2rem;}
.panel-title span a { font-size:0.8rem;}
.list-group-item {padding:.5rem 0.5rem}
.list-item a { color:#666;}
/*内容页的图片可定义响应式且带颜色边框方法是 .content img {max-width: 98%;border: inset;}*/


/*底圆颜色*/
#css2 {fill:#1d2088;}
/*logo大圆svg颜色*/
.cls-1{fill:#fff;}
/*logo大标题svg颜色*/
.cls-2{fill:#900;}

//主页头部导航
.home_navbar{transition: all.3s;
.navbar-brand img{width:9rem;max-height: 3rem;}
.navbar-nav .nav-link{color:#fff!important;}
.main_nav .nav-link{margin-left: 0.2rem;margin-right:0.2rem;font-size:1.2rem;}
.navbar-nav .nav-link:hover{text-shadow: 1px 1px 5px #fff;}
.search_form{display:none;padding: 0 .4rem;}
.search_form i{color:#999;}
.navbar-nav>li form {position: relative;}
.navbar-nav>li button {position: absolute;top: 0;right: 0;background: none;border: none;font-size: 1.3em;height: 100%;cursor: pointer;}
}

//移动下拉时菜单出现底色
.barShow{background:rgba(255, 255, 255, 0.92); border: 1px solid #ccc;
.navbar-nav .nav-link {color:#666!important;}
a:hover{text-shadow: 1px 1px 5px #666!important;}
}


.QRcode_box { position: relative;
&:hover .QRcode { display: block; }
}
.QRcode { position: absolute; display: none;  right:0; top: 2rem;z-index: 1; }
.QRcode img { width: 10rem; }



//主页标题栏
.home_banner{ min-height: 40rem;padding-top: 15rem; text-align: center;background: url(Images/banner_bg.jpg) no-repeat;background-size: 100% 100%;
h1{color:#fff;font-weight: 100;}
.start{display: block;width:10rem;line-height: 2.8rem; margin-top: 4rem;margin-left: auto; margin-right: auto;font-size: 1.4rem; border-radius: 8rem;background: #f7f5f9;color:#cccccc;transition: all .3s;}
.start:hover{background:rgba(255,255,255,0.4);color: #fff;}
.down{width:3rem;height:3rem; margin-top: 8rem; margin-left: auto; margin-right: auto;display: block; border-radius: 50%;border:#fff solid 1px;color:#fff;font-size:1.4rem;transition: all .3s;}
.down:hover{background: rgba(255,255,255,.4);}
.down i{margin-top: .6rem;}
}

//名师介绍
.home_teacher{ height:40rem; background: #f8f8f8;padding-top: 2rem;
.col-md-3{padding-left: 10px;padding-right: 10px;}
//.container .row{margin-left: -3rem;margin-right: -5rem;}
.teacher_sm .col-md-4{margin-top: 1rem;padding-left: 10px;padding-right: 10px;}
.teacher_sm .image{position: relative; overflow: hidden;height: 12rem;}
.teacher_sm .image img{width:100%;}

.teacher_lg {margin-top: 1rem;}
.teacher_lg .image{position: relative;overflow: hidden;height: 29.5rem;}
.teacher_lg .image img{height: 100%; }
.teacher_lg  small{padding-left: .8rem;}

.image .keyWord{position: absolute;left: .4rem;bottom: .4rem;}
.image .keyWord span{display: inline-block; padding:.2rem .6rem;color:#fff;border:#fff solid 1px; border-radius: 50px;background: rgba(0,0,0,0.4);font-weight: 100;}

.text{padding-left: .8rem;padding-top: .6rem; padding-right: .8rem;color:#000;background: #fff;}
strong{font-size: 1.2rem;color:#333;}
small{ height:2rem;display: block;color:#666;background: #fff;}

a{display: block; transition: all .5s;}
a:hover{ box-shadow: 3px 3px 5px #999;}
}

//推荐团队
.home_team{ height:36rem; background: #f8f8f8;
strong.title{line-height: 6rem; font-size: 1.4rem;text-align: center; display: block;color:#000;}
.team_t{text-align: center;margin-top: .6rem;background: #fff;}
.team_t .image img {width:5rem; margin-top: 1rem; text-align: center;}
.team_t .title{display: block; margin-top: 1rem; font-size: 1.2rem; color:#000 }
.team_t p{color: #999;margin-bottom: 0;}

.team_l{height:14rem;background: #fff;padding-top: 1rem; padding-left: 1.6rem;padding-right: 1.6rem;}
.team_l ul{@include myul;}
.team_l li{line-height: 3rem;}
.team_l li i{margin-right: 1rem;}
}

//服务模块
.home_server{position: relative;margin: 0;
ul{@include myul;margin:0;padding: 0;}
li{padding: 0;  background: #999;color:#fff;}
li:hover{background: #eee;color:#000;}
li>a{display: block; position: relative; padding-top: 50%; color: #fff; text-decoration: none; transition: all .1s linear;}
.server_ct{position: absolute;top: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.4); z-index: 100;}
strong {line-height: 3rem; font-size: 1.4rem;}
strong i{margin-left: 1rem;font-weight: 400;}
.red{color:rgba(204,101,102,1.00);}
.server_ct .server_ctc{position: absolute;top: 50%;padding-left: 1em;padding-right: 1em;transform: translate(0, -50%);-webkit-transform: translate(0, -50%);width: 100%;text-align: center;}
.server_cm {position: absolute;top: 0;width: 100%;height: 100%; overflow: hidden;;}
.server_cm img {width: 100%;height: 100%;transition: all .1s linear; transition: all .5s}
.server_cm:hover img{transform: scale(1.2);}
.last{padding: 0;}
.last a{display: block; position: relative; padding-top: 100%; color: #fff; text-decoration: none; transition: all .1s linear;  }
.last .server_ct{ background: linear-gradient(to top right, rgba(0,0,0,0),rgba(0,0,0,1));} 
.last .server_ct .server_ctc{top:25%}
.last:hover img{transform: scale(1.2);}
}

//免费分享线上课程
.home_free{min-height: 30rem; padding-top: 2rem;
.title{height:8rem;text-align: center;}
.title strong{font-size: 1.4rem; line-height: 3rem;}
.free_content a{width:15rem;height:15rem; padding-top: 4rem;display: block; background: #f8f8f8;text-align: center;color: #000;}
.free_content a i{display: block; font-size: 4rem;}
.free_content a:hover{background: #f3f3f3;}
}

//优秀学员
.home_student{min-height:40rem;background: #e2e4ea;
.title{ height:10rem; text-align: center;}
.title span{font-size: 1.4rem;line-height: 10rem; font-weight: 600;}

.mtv_solu { width: 100%; height: 525px; min-width: 1200px; position: relative; }
.mtv_solu p { margin-bottom: 0; font-size: .9rem; }
.mtv_solu p.solu-item-text { text-indent: 2rem; text-align: left; }
.solu-head { height: 162px; padding-top: 25px; background-color: #4251b6; }
.solu-head > h2 { font-size: 30px; line-height: 80px; }
.solu-head > p { font-size: 20px; }
.solu-dsj { display: block; width: 0; height: 0; border-width: 26px 26px 0; border-style: solid; border-color: #4251b6 transparent transparent; position: absolute; top: 187px; left: 50%; margin-left: -26px; z-index: 1; }
.solu-body { width: 100%; position: relative; }
.solu-body-child { width: 1526px; height: 410px; overflow: hidden; margin: 0 auto; position: relative; }
.solu-floor { position: absolute; top: 28px; left: 0px; width: 100%; height: 100%; background-repeat: no-repeat; pointer-events: none; z-index: 1; }
.solu-item-box { width: 4575px; height: 390px; margin-right: auto; position: relative; left: 0; }
.solu-item-warp { float: left; width: 305px; height: 22rem; text-align: center; }
.solu-item { padding: 1rem 1rem 0 1rem; margin: 1.84rem auto 0; width: 285px; height: 21.2rem; background-color: #fff; position: relative; }
.solu-active { height: 380px; margin-top: 0px; }
.solu-item-active .solu-item { box-shadow: 5px -5px 10px 0 rgba(0, 0, 0, 0.3); }
.solu-item-img { margin: auto; margin-top: 2rem; width: 100%; height: 114px; width: 114px; border-radius: 50%; }
.solu-item-img1 { background: url(images/student01.jpg) no-repeat center bottom; background-size: cover; }
.solu-item-img2 { background: url(images/student02.jpg) no-repeat center bottom; background-size: cover; }
.solu-item-img3 { background: url(images/student03.jpg) no-repeat center bottom; background-size: cover; }
.solu-item-img4 { background: url(images/student04.jpg) no-repeat center bottom; background-size: cover; }
.solu-item-img5 { background: url(images/student05.jpg) no-repeat center bottom; background-size: cover; }
.solu-item-details { display: none; width: 8rem; height: 2.4rem; line-height: 2.4rem; border: 1px solid #4251b6; color: #666; position: absolute; left: 50%; margin-left: -72.5px; z-index: 3; margin-top: 20px; transition: background-color .15s; }
.solu-item-details:hover { background: rgba(66, 81, 182, 0.9); color: #fff; }
.solu-item-details-active { display: block; }
.solu-item-title { color: #4251b6; line-height: 3rem; text-align: center; }
.solu-left-right { width: 1567px; height: 62px; position: absolute; top: 50%; left: 50%; margin-left: -783.5px; margin-top: -31px; z-index: 2; }
.solu-left, .solu-right { width: 62px; height: 62px; background: rgba(204, 204, 204, 0.36); border-radius: 50%; }
.solu-left i,.solu-right i{padding-top: 10px; padding-left:20px; color:#fff;font-size: 2rem;}
.solu-left{float: left;}
.solu-right{float: right;}
}

//新闻活动
.home_news{min-height: 42rem;
.title{height:8rem;text-align: center;}
.title span{line-height: 10rem; font-size: 1.4rem; font-weight: 600;}
ul{@include myul;}
li{height: 8rem; margin-top: 1rem; background:#f8f8f8;transition: all .5s;}
li:hover{box-shadow:  0 3px 6px #999;}
.news_list .item_l{float:left;margin-right: 1rem;}
.news_list .item_l .date {width:8rem; height:8rem; padding: .8rem; text-align: center;float: left;}
.news_list .item_l .date span{display: block;font-size: 3rem ; font-weight: 800;}
.news_list .item_l .image{width:15rem;height:8rem;float: left;}
.news_list .item_l .image img{width: 100%;height: 100%;}
.news_list .item_r .content_title{display: block; line-height: 3.6rem;font-size: 1.2rem;font-weight: 600;color:#000;}
.news_list .item_r .content_title:hover{color:rgba(200,0,0,1.00);}
.news_list .item_r .content_c{padding-right: .4rem;}
.more {margin-top: 4rem;height: 8rem;text-align: center;}
.more a{display: block;width: 8rem;height: 3rem; margin-left: auto; margin-right: auto;border:#999 solid 1px;}
.more a i{margin-top: .1rem; font-size: 2rem; color:#999;}
.more a:hover{opacity: .6;}
}

//全站底部
.homeFooter{min-height: 18rem;}//仅应用首页显示下方浮帖广告
footer{padding-top: 3rem;padding-bottom: 2rem;margin-top: 2rem; text-align: center;background: #b2cbe5; color:#FFF;
ul {@include myul;}
li{display: inline-block;padding-left: 0.4rem;padding-right: 0.4rem;}
a{color:#fff;}
a:hover{color:#666;}
p{opacity: 0.8;}
}

.other_footer{min-height: 20rem;}
//底部公众号
.gzh{height: 6rem;background: linear-gradient(#40c8d8,#21a7c3);
strong{line-height: 6rem; color:#fff;font-size: 2rem;text-shadow: 0 3px 10px #666;}
.text{width: 12rem;margin-top: 1rem; margin-left: 8rem;float: right;}
.text span{margin-right: 1rem;font-size: 1.2rem;color:#fff;line-height: 2rem;}
.image {width: 21rem; height: 6rem; float: right;position: relative;}
.image img{position: absolute;bottom: 0;left: 0;}
.image a{cursor: pointer; }
.image i{position: absolute;top: .8rem; right: 0;color:#fff; font-size: 1.6rem;transition: all .5s;}
.image a:hover i{transform: rotate(90deg);}
}

//两列式标准内容页
.news_banner{min-height: 24rem; background: url(Images/banner_bg02.jpg) no-repeat; background-size: cover;position: relative;text-align: center;
.mask_bg{width:100%;height:100%;position: absolute;top:0;left: 0;background:#123d6a; opacity: .6;}
strong{top:15rem; z-index: 100; font-size: 2rem; position:relative;color:#fff;}
}

.news_wrap{margin-top: 2rem;margin-bottom: 4rem;
.myContent_l  h1{padding-left: 1rem;border-left: #00800d solid 8px;}
.myContent_l .myAbbr{line-height: 3rem; border-bottom: #f8f8f8 solid 1px;}
.myContent_l .myContent{min-height: 40rem;margin-top: 1rem;text-align: justify;}
.myContent_l .myContent img{max-width: 100%;}
#begin{line-height: 4rem;}

.news_list { padding-top: .4rem;margin-top: 3.2rem;}
h2{line-height: 3rem; font-size: 1.4rem; border-bottom: #00800d solid 2px;}
.news_list_c {min-height: 10rem; padding-left: .6rem;padding-right: .6rem; margin-bottom: 1rem;background: #fff;}
.news_list_c li{line-height: 3rem;border-bottom: #eee solid 1px;}
.news_list_c li span {color:#999;float:right;}
.news_list_c ul li i{display: inline-block;margin-right: 5px;width: 20px;height: 20px;line-height: 20px;text-align: center;font-style: normal;}
.news_list_c ul li:nth-child(1) i{background: #EE3033;color: #fff;}
.news_list_c ul li:nth-child(2) i{background: #F7811E;color: #fff;}
.news_list_c ul li:nth-child(3) i{background: #FFEF15;color: #fff;}
}

.nav_bg{background: rgba(0, 0, 0, 0.09);}



//通用父栏目
.parent_banner{min-height: 24rem; background: url(Images/banner_bg03.jpg) no-repeat; background-size: cover;position: relative;text-align: center;
.mask_bg{width:100%;height:100%;position: absolute;top:0;left: 0;background: rgba(123, 157, 156, 0.34); opacity: .6;}
h1{font-size: 1.6rem; top:12rem; z-index: 100; font-size: 2rem; position: absolute;color:#fff;}
p{top:15rem; z-index: 100; font-size: 1rem; position: absolute;color:#fff;}
}

.parent_wrap {margin-top: 2rem;min-height: 40rem;
.news_list	.news_list_t{line-height: 3rem;border-bottom: rgba(40,79,171,1.00) solid 1px;color:#999}
.news_list	.news_list_t h2 {font-size: 1.4rem;}
.news_list	.news_list_t a{float: right; color:#999;transition: all .3s;}
.news_list	.news_list_t a:hover{transform: scale(1.2);}

.news_list	.news_list_c li{line-height: 2.4rem; border-bottom: #eee dotted 1px;}
.news_list	.news_list_c li a{color:#000;}
.news_list	.news_list_c li a:hover{text-decoration: underline;}
.news_list	.news_list_c li span{float:right;}

.news_list_l li{line-height: 3rem;}
}

//名师父栏目



//关于我们
#about .home_navbar .navbar-nav .nav-link{color:#000!important;}
.about_banner{min-height: 38rem; background: url(Images/banner_bg05.jpg) no-repeat; background-size: cover;position: relative;text-align: center;
//.mask_bg{width:100%;height:100%;position: absolute;top:0;left: 0;background: rgba(48,32,25,1.00); opacity: .6;}
h1{ position: absolute;width: 100%; top:12rem; z-index: 100; font-size: 2.4rem; font-weight: 100;color:#666;}
.link_list{position: absolute;bottom: 0;left: 0;height: 6rem;width: 100%;background: rgba(255,255,255,0.79);}
.link_list ul{@include myul;width: 60%}
.link_list li{float: left; width:20%;}
.link_list li a{display: block;width:100%;height:8rem;padding-top: 2rem;color:#666;}
.link_list li a:hover{color:#22d7bb;}
.link_list li a.active{color:#22d7bb;background: #fff;}
}

.about_ok{margin-top: 3rem;padding-bottom: 2rem; border-bottom: #f3f3f3 solid 1px; 
h2{font-size: 1.48rem;}
p{padding-top: 1rem;line-height: 1.98rem; color: rgba(0,0,0,0.80);}
a{padding-left: 1rem; color: #999; border-bottom:1px dotted #ccc;}
img{float: left;}
ul{@include myul;}
li{line-height: 2.3rem;}
}



//通用子栏目
.child_banner{min-height: 24rem; background: url(Images/banner_bg04.jpg) no-repeat; background-size: cover;position: relative;text-align: center;
.mask_bg{width:100%;height:100%;position: absolute;top:0;left: 0;background: #916f0f; opacity: .6;}
h1{top:12rem; z-index: 100; font-size: 2rem; position: absolute;color:#fff;}
p{top:15rem; z-index: 100; font-size: 1rem; position: absolute;color:#fff;}
}

.child_wrap{margin-top: 2rem;min-height: 40rem;
.list-group{min-height: 50rem;}
.list-group li {line-height: 2.4rem;}
.list-group li a{color:#666;}
.list-group li span{float: right;}

.nodeList .nodeList_t{line-height: 3rem;border-bottom: rgba(40,79,171,1.00) solid 1px;color:#999;font-size: 1.4rem;}
.nodeList .nodeList_t a{float: right; color:#999;transition: all .3s;}
.nodeList .nodeList_t a:hover{transform: scale(1.2);}

.nodeList .nodeList_c ul{@include myul;}
.nodeList .nodeList_c li{line-height: 2.4rem;width:100%; border-bottom: #eee dotted 1px;}
.nodeList .nodeList_c li a{color:#000;}
.nodeList .nodeList_c li a:hover{text-decoration: underline;}
.nodeList .nodeList_c li span{float:right;}

.news_list_l li{line-height: 3rem;}
}


/*网站地图*/
.map_list {list-style: none;width: 100%;margin-bottom: 0;padding-left: 0;border-left: 1px solid #bbb;left: 11px;position: relative;	
	& > li {margin-top: 10px;margin-bottom: 5px;left: -11px;position: relative;}
	& > li h3 {margin-top: 0;margin-bottom: 0;border: 1px solid #ccc;border-radius: 5px;padding: 5px;color: #000;background: #fff;font-size: 1em;line-height: 22px;}	
}

.map_list1 {list-style: none;width: 100%;padding-left: 0;margin-left: 21px;padding-top: 5px;
	& > li {background: url("images/line.png") left top no-repeat;padding-left: 30px;left: -11px;position: relative;border-left: 1px solid #bbb;}
	& > li h3 {margin-top: 0;margin-bottom: 0;border: 1px solid #ccc;border-radius: 5px;padding: 5px;color: #000;background: #fff;font-size: 1em;line-height: 22px;}
}



//移动界面以m开头
.home_body{background: rgba(248,248,248,1.00);}
.mTop{padding-left: 1rem;
strong{line-height: 3rem;font-weight: 1.25rem;font-weight: 300;}
}

.mhome_top {position: relative;height: 100%;
.swiper-container {width: 100%;height: 100%;}
.swiper-slide {text-align: center;font-size: 18px;background: #fff;/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;
img{height: 13rem;width: 100%;}

.swiper-slide{position: relative;}
.home_body_mask{position: absolute;width: 100%;height: 100%;left: 0;text-align: center;pointer-events: none;
strong{display: block;padding-top: 5rem;font-weight: 200;color:rgba(255,255,255,1.00);font-size: 1.2rem;}
.color2{color: #615e65;}
}
}
.swiper-pagination-bullet-active{background: #e6e6e6;}
.swiper-pagination-bullet{width: 10px;height: 10px;}
}

.reg_link{position: absolute;z-index: 2;width: 100%;top: 1rem; right: 1rem; text-align: right;
a{color: #4CAF50;}
.dropdown-menu{min-width: auto;left: auto;background: rgba(240, 248, 255, 0.15);font-size: .93rem;}

}

.mhome_case{margin-top: .5rem;padding-left: 10px;padding-right: 10px;
img{width: 100%;box-shadow: 0 25px 20px -21px rgba(0, 0, 0, 0.57);}
.case_img{overflow: hidden;}
}

.mhome_tabs{margin-top: 1.2rem;margin-bottom: 3.2rem;background: rgba(255,255,255,1.00);min-height: 25rem;
.nav-tabs{border-bottom: 1px solid rgba(237,237,237,1.00);}
.mhome_tabs_ul li{width: 33.3%;text-align: center;}
li .nav-link{color:rgba(102,102,102,1.00);}
li .nav-link.active label{border-bottom: .15rem solid #4CAF50;}
.nav-link.active{background-color: rgba(255,255,255,0.00);border-color: rgba(255, 255, 255, 0);color:rgba(0,0,0,1.00);}
}

.mhome_tabs_warp{
ul{@include myul}
li{padding-top: .6rem;padding-bottom: .6rem;border-bottom: 1px solid #f3f3f3;}
.mhome_tabs_con{display: flex;align-items: center;}
.mhome_tabs_con img{width: 4rem;height: 4rem;border-radius: 50%; margin-right: .6rem;margin-left: .5rem;}
.mhome_tabs_con div{padding: 0;}
.mhome_tabs_con_l{display: flex;align-items: center;padding-right: 0rem;width: 80%;}
.mhome_tabs_con_r strong{display: block;width: 50%}
.mhome_tabs_con_r span{display: block;font-size: .96rem;color:rgba(102,102,102,1.00);}
.mhome_tabs_con_r small{color:rgba(102,102,102,1.00);}
.mhome_tabs_con_r{width: 20%;text-align: center;}
.tabs_con_l_r strong{display: block;}
.tabs_con_l_r span{font-size: .96rem;color:rgba(102,102,102,1.00);}
.tabs_con_l_r abbr{display: block;}
}

.mbtn_link{border-radius: 1.4rem;padding: .2rem .5rem;font-size: .9rem;background:rgba(237,127,48,1.00);color:rgba(255,255,255,1.00);}

.mhome_footer{position: fixed;bottom: 0;width: 100%;left: 0;border-top: 2px solid #f7e5e5;background: #fff;
ul{@include myul}
li{float: left;width: 25%;text-align: center;}
li a{display: block;padding-top: 5px;color:rgba(102,102,102,1.00);}
li label{display: block;margin-top: -7px;margin-bottom: 0;padding-right: 0;}
li i{font-size: 1.4rem;}
li.active a{color:rgba(30,193,167,1.00);}
}

//讨论
.mBBS{padding-left: 0rem;padding-right: 0rem;margin-bottom: 5rem;margin-top: .5rem;
ul{@include myul;}
li{padding-left: 1rem;padding-right: 1rem;border-top:.4rem solid rgba(204,204,204,1.00);}
li span{display: block;line-height: 2.6rem;color:rgba(73,73,73,1.00);}
li strong{color:rgba(76,175,80,1.00);}
li p{margin-bottom: 0;margin-top: .5rem;font-size: .96rem;color:rgba(73,73,73,1.00);}
li small{margin-right: .5rem;color:rgba(73,73,73,1.00);}
}

.mfooter{background: #fff; border-top: 2px solid #fabebe;
ul{@include myul;}
li{float: left; width: 25%; line-height: 3rem; text-align: center;border-right: 1px solid #ccc;}
li:last-child{border-right: 1px solid #fff;}
a{display: block;color: rgba(0,0,0,0.74);}
a:hover{background: #ccc;}
.acitve{border-bottom: 3px solid #75c0d5;}
.acitve a{color: #000;}
}

.mteacher_header{
strong{line-height: 3.5rem;padding-left: 1rem;color:rgba(102,102,102,1.00);font-weight: 300;font-size: 1.15rem;}
.header_select{display: flex;justify-content: space-around;}
.header_select select{border-radius: 0rem;font-size: .96rem;border-color:rgba(102,102,102,1.00);}
.mteacher_x{border-left: 1px solid rgba(255, 255, 255, 0);border-right: 1px solid rgba(255, 255, 255, 0);}
.mteacher_x .custom-select{margin-left: -2px;margin-right: -2px;}
}


.mteacher_list{margin-bottom: 4rem;
ul{@include myul}
li{border-top: .4rem solid #ccc;}
li a{display: flex;align-items: center;padding: .5rem;}
li img{margin-right: .6rem;width: 5.5rem;height: 5.8rem;}
li strong{line-height: 2.3rem;color:rgba(0,0,0,1.00);}
li abbr{display: block;color:rgba(102,102,102,1.00);}
li small {color:rgba(102,102,102,1.00);}
.abbr_b small{padding-left: .3rem;padding-right: .3rem;}
.abbr_p span{}
nav li{border-color:rgba(255,255,255,1.00);}
nav li.active{z-index: 0;}
}

.list_left{margin-right: 5px; width: 5.5rem;height: 5.8rem;background: url(/UploadFiles/nopic.svg) no-repeat; background-size: cover;}

.select_aress{display: inline-block;width: 100%;text-align: center;line-height: 2.2rem;color: #495057;border: 1px solid #666666;}

.Pitem_fix_link{position: fixed;right: 1rem;bottom: 8rem;height: 2.5rem;width: 2.5rem;border-radius: 2.5rem;background:rgba(76,175,80,1.00);text-align: center;line-height: 2.5rem;box-shadow: 0 3px 5px rgba(0,0,0,0.20);
a{color:rgba(255,255,255,1.00);font-size: 1.1rem;}
.zi{padding-left: .2rem;}
}

/*名师筛选*/
.aress_body{background: #f8f8f8;}
.aress_hotcity{margin-top: 1rem;
span{color:rgba(102,102,102,1.00);font-size: .96rem;}
ul{@include myul;}
li{padding-left: .5rem;padding-right: .5rem;margin-top: .5rem;}
li a{display: block;width: 100%;font-size: .93rem;line-height: 2.1rem;text-align: center;background: rgba(255,255,255,1.00);color: #737373;border: 1px solid #f1f1f1;}
}

.aress_list{margin-top: 1rem;background: rgba(255,255,255,1.00);
ul{@include myul}
li:nth-child(1){margin-right: -15px;margin-left: -15px;padding-left: 1rem;background: rgba(248,248,248,1.00);}
li{line-height: 2.3rem;border-bottom: 1px solid rgba(244,244,244,1.00);}
li a{font-size: .96rem;color: #666;}
}

.aress_list_r{position: fixed;top: 3.6rem;right: .1rem;background: rgba(240, 248, 255, 0.3);
ul{@include myul}
li{text-align: center;}
li a{font-size: .85rem;color: rgba(102, 102, 102, 0.87);}
}


.city_tit{margin-top: .3rem;background: rgba(255,255,255,1.00);padding-bottom: 1rem;
strong{display: block;line-height: 2.2rem;padding-left: .7rem;border-bottom: 1px solid rgba(248,248,248,1.00);font-weight: 300;}
}

.city_sf{padding-left: 1rem;padding-right: 1rem;margin-top: .3rem;background: rgba(255,255,255,1.00);padding-bottom: 1rem;
strong{display: block;border-bottom: 1px solid rgba(248,248,248,1.00);font-weight: 300;line-height: 2.2rem;}
span{display: inline-block;line-height: 2rem;padding-left: 1rem;padding-right: 1rem;margin-top: .6rem; font-size: .93rem;color:rgba(135,135,135,1.00); border:1px solid rgba(177,177,177,1.00);border-radius: .3rem;}
}

.city_qu{
ul{@include myul}
li{float: left;width: 25%;text-align: center;margin-top: .9rem;padding-left: .5rem;padding-right: .5rem;}
li a{font-size: .90rem;display: block;background: rgb(234, 234, 234);color: #676767;}
li.active a{background:rgba(76,175,80,1.00);color:rgba(255,255,255,1.00) }
}

.city_sq{margin-bottom: 3rem;
ul{@include myul}
li{border-bottom: 1px solid rgba(248,248,248,1.00);padding-left: .5rem;line-height: 2.3rem;font-size: .93rem;color:rgba(102,102,102,1.00)}
li a{color:rgba(102,102,102,1.00);}
}

/*名师筛选——位置下拉列表*/
.weizhi_list_warp{
.weizhi_list{height: 18rem;margin-left: 0;margin-right: 0;}
.weizhi_list_l{background: rgba(227,227,227,1.00);padding-left: 0;padding-right: 0;
			.nav-link{display: block;width: 100%;padding-left: 1rem;line-height: 1.8rem;padding-right: 0;font-size: .93rem;}
			a.active{background:rgba(255,255,255,1.00);border-radius: 0;color:rgba(102,102,102,1.00);}
			}
.weizhi_list_r{
ul{@include myul}
li{line-height: 1.5rem;font-size: .9rem;color:rgba(172,172,172,1.00);height: 2.5rem;}
li a{line-height: 2.5rem;height: 2.5rem;}
}			

.tab_ul{
ul{width: 100%;}
li{width: 50%;} 
li .nav-link{justify-content: center;}
li .nav-link.active{background: rgba(255,255,255,0.00);color:rgba(14,14,14,1.00);}}

.weizhi_list_warp{background: rgba(227,227,227,1.00);overflow: auto;height: 18rem;flex-direction: row!important;}
.weizhi_list_warp_r{overflow: auto;height: 18rem;flex-direction: row!important;}
}

.body_mask{position: absolute;width: 100%;background: rgba(0, 0, 0, 0.2);top: 0;pointer-events: none;}

/*老师申请*/
.baidu_aress{
.title{font-size: .94rem;font-weight: 400; line-height: 2.5rem;}
}


/* ===== retrie分类下来 ===== */
.retrie {position: relative;z-index: 102;height: 50px;background-color: #fff;}
.retrie dt { overflow: hidden }
.retrie dt a {position: relative;float: left;width: 33.33%;height: 49px;line-height: 50px;color: #333;text-align: center;font-weight: 300;}
.retrie dt a:after {position: absolute;top: 50%;left: 50%;margin-top: -4px;margin-left: 30px;width: 8px;height: 8px;border: #666 solid;border-width: 1px 1px 0 0;content: ' ';-webkit-transform: rotate(135deg);}
.retrie dt .up {color: #007ccf;border-bottom: 2px solid #007ccf;}
.retrie dt .up:after {margin-top: 0;border: #007ccf solid;border-width: 1px 1px 0 0;-webkit-transform: rotate(-45deg);}
.retrie dt a:last-child:before {position: absolute;top: 10px;left: 0;display: block;width: 1px;height: 30px;background-color: #ebebeb;content: ' ';}
.retrie dt a:nth-child(2):before {position: absolute;top: 10px;left: 0;display: block;width: 1px;height: 30px;background-color: #ebebeb;content: ' ';}
.retrie dd { position: relative; margin-bottom: 0rem;}
/* ===== slide-area ===== */
.slide {position: absolute;top: 0px;left: 0;z-index: 104;display: none; width: 100%;overflow-y: auto;background-color: #fff;}
.slide li {display: block;height: 50px;border-bottom: 1px solid #eee;}
.slide li a {display: block;padding: 0 10px;height: 50px;background-color: transparent;line-height: 50px;}
.slide li a:hover,
.slide li a.selected { background-color: #f6f6f6; }
.slide li a.select { background-color: #fff; }
.mteacher_header .downlist{@include myul;
li a{display: flex;align-items: center;justify-content: space-between;color:rgba(102,102,102,1.00);font-size: .93rem;}
li small{width: 2.2rem;height: 1.4rem;background: #e2e2e2;line-height: 1.3rem;text-align: center;border-radius: .4rem;color: #4c4c4c;font-size: .9rem;font-weight: bold;}
}

.mteacher_header .retrie{margin-bottom: 0rem;}



//用户中心
.muser_top{
img{width: 6rem;border-radius: 50%;}
ul{@include myul}
}

.muser_list{
.weui-grid__icon{text-align: center;}
.weui-grid__icon i{font-size: 1.8rem;color: #4CAF50;}
.weui-grid__icon+.weui-grid__label{margin-top: 9px;}
}


/*评论内容页*/
.mcomment_header{
strong{display:block;padding-top: 1rem;padding-bottom: .6rem;padding-left: .5rem;font-size: 1.3rem;color: #4CAF50;}
img{width: 100%;}
.mcomment_header_con{padding: .8rem;text-align: justify;}
.mcomment_header_info{margin-bottom: .6rem;}
.mcomment_header_info small{display: inline-block;width: 50%;text-align: center;color:rgba(102,102,102,1.00);}
}

.mcomment_tile{line-height: 3rem;padding-left: 1rem;color: #4CAF50;font-size:1.2rem;}
#VCodesender{width: 8rem;}
#CommentInput .pl_content{text-align-last: auto!important;}
.con_page ul{display: flex;justify-content: center;}


.pclass_postlist{    display: flex;
span{display:flex;color:rgba(102,102,102,1.00);}
a{margin-right: 1rem;}
p{margin-bottom: 0rem;}
small{margin-right: .8rem;font-size: 1rem;color:rgba(102,102,102,1.00);}
.uname a{display:none;}
.uname span{display:none;}
} 

.hf_con{padding-left: 1rem;padding-right: 1rem;background: #4caf50;color: #fff;border-radius: .3rem;}

.post_div_num{padding-top: .5rem;padding-bottom: .5rem;
#PostName_L{font-weight: 400;font-size: .96rem;color:rgba(102,102,102,1.00);}
}

.msgmain_div .stickem{display: none;}
.post_div{
.msg_content_div .post_msg{padding-top: 1rem;}
.msgmain_div{min-height: 12rem;}
.post_msg_foot{bottom: 0;}
} 



/*评论发布页*/
.addcontent_top{display: flex;justify-content: space-between;line-height: 2.2rem;padding-left: .6rem;padding-right: .6rem;background:#4CAF50;color:rgba(255,255,255,1.00);
a{color:rgba(255,255,255,1.00);}
}


/*家长中心*/
.Parents_top{padding-bottom: .5rem;;background:rgba(30,193,167,1.00);border-bottom: .5rem solid #f8f8f8;
img{width: 5rem;border-radius: 50%;}
.Parents_top_l{display: flex;justify-content: center;align-items: center;}
.Parents_top_r{padding-top: 1rem;}
.Parents_top_l{flex-direction: column;padding-top: .5rem;}
.Parents_top_l a{color:rgba(255,255,255,1.00);}
.Parents_top_r ul{@include myul;}
.Parents_top_r li{padding-bottom: .4rem;color:rgba(255,255,255,1.00);font-size: .9rem;}
}

.user_jz_bg{background: rgba(76,175,80,1.00)}

.Parents_list{padding-left: 0rem;padding-right: 0rem;
ul{@include myul}
li{line-height: 2.6rem;padding-left: .7rem;padding-right: .7rem;border-bottom: .3rem solid #f8f8f8;}
a small{float: right;}
li a{color:#1ec1a7}
}

.user_list_ul{padding-left: 0;padding-right: 0;margin-bottom: 5rem;
ul{@include myul}
li{line-height: 2.6rem;padding-left: .8rem;padding-right: .8rem; border-bottom: .3rem solid rgba(248,248,248,1.00);}
small{float: right;}
li a{color:rgba(0,150,136,1.00);}
}
.user_list_bg li a{color:rgba(76,175,80,1.00)}


/*店铺信息*/
.shop_btnlist{width: 100%;
a{width: 33.33%;}
}

.shop_con{margin-top: .8rem;}

/*老师内容页*/
.mteacher_name{margin-top: .5rem;
strong{font-weight: 300;}
.mteacher_name_tab small{padding-left: .2rem;padding-right: .2rem;color:rgba(110,110,110,1.00);}
}
.mteacher_teaching{margin-top: .5rem;border-top: .3rem solid rgba(248,248,248,1.00);padding-top: .5rem;
strong{color:#1ec1a7;}
}
.mteacher_btn_link{text-align: right;margin-top: .6rem;}
.mteacher_teaching_bottom{margin-bottom: 4rem;}
.mteacher_teaching_con p{margin-bottom: 0rem;font-size: .93rem;color:rgba(102,102,102,1.00);}
.mteacher_teaching_con img{width: 100%;}
.commentfor_body{padding-left: 0rem;padding-right: 0rem;}

//只有3号家长组才能使用联系电话 
.mteacher_btn_link_tel,.mteacher_btn_link_tel1,.mteacher_btn_link_tel2,.mteacher_btn_link_tel4{display: none;}
.mteacher_btn_link_tel3{display:block;width: 100%;}

/*店铺下老师列表*/
.teas_list{
strong{font-size: 1.05rem;    color: rgb(76, 175, 80);}
abbr small{color:rgba(102,102,102,1.00);}
}

/*订单列表*/
.cart_list{
ul{@include myul}
li{padding-top: .5rem;padding-bottom: .5rem;border-bottom: 1px solid rgba(248,248,248,1.00);}
li span{padding-left: .5rem;color:rgba(76,175,80,1.00);}
li small{padding-left: .5rem;color:rgba(102,102,102,1.00);}
li a{margin-right: .5rem;float: right;padding: .1rem .7rem;}
}


/*信息管理*/
.message_topnav{background:rgba(248,248,248,1.00);margin-left: -15px;margin-right: -15px;
ul{@include myul}
li{float: left;width: 50%; padding-top: .3rem;padding-bottom: .3rem;text-align: center;font-size: .96rem}
li.active{background: rgba(0, 150, 136, 0.51);
a{color:rgba(255,255,255,1.00);}
}
}

.message_page{font-size: .93rem;}
.message_list{padding-top: .5rem;padding-bottom: .5rem;border-bottom: 1px solid rgba(248,248,248,1.00);
.message_list_time .xuanze{float:right;display: flex;justify-content: center;align-items: center;}
.message_list_info{color:rgba(102,102,102,1.00)}
.message_list_time{color:rgba(102,102,102,1.00)}
}

/*地址管理*/
.add_aress{margin-top: 2rem;
strong{display: block;border-bottom: 1xp solid rgba(248,248,248,1.00);font-weight: 300;}

}


 /*小于768px手机优化*/
@media screen and (max-width:768px){
.container{max-width: 100%;}

/*内容页调整*/
.news_banner{min-height: 15rem;
 strong{top: 6rem;font-size: 1.2rem;display: inline-block;width: 60%;}
}
.news_wrap{
.news_mySites{display: none;}
}

.minfo_hotcon{display: none;}
.minfo_footer{display: none;}
.news_wrap .news_list{margin-top: 0rem;}

/*首页*/
.fixed-bottom{display: none;}
.home_student{display: none;}
.home_banner{min-height: 20rem;padding-top: 6rem;padding-bottom: .5rem;
.start{margin-top: 3rem;}
.down{margin-top: 3rem;}
h1{font-size: 1.6rem;}
}

.u_footer{display: none;}
.mbtab .tip,.mhome_footer .tip,li .tip{display:none; background-color: #ff0000; color: #fff; text-align: center;width:25px; height:25px; border-radius:50%;position:absolute;top:0px;line-height:23px;}

}



/*key:UG93ZXJlZCBieSBab29tbGEh6YCQ5rWqQ01TIHd3d3cuejAxLmNvbQ== */